development:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: publish-dev
  username:
  password:
  
test:
  adapter: postgresql
  host: localhost
  encoding: unicode
  database: publish-test
  username: 
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: publish-prod
  username: 
  password:
